*.class
**/target
**/webapp/userfiles
**/WEB-INF/classes
**/transaction-logs
**/logs/*.log*
*.epoch
*.lic

.settings
.apt_generated
.factorypath
.classpath
.project
.vscode

.idea
*.ipr
*.iml
*.iws

.DS_Store
Thumbs.db
rebel.xml


web/src/main/java/com/jeesite/modules/student_manager/
web/src/main/java/com/jeesite/modules/teacher/
web/src/main/resources/mappings/modules/student_manager/
web/src/main/resources/mappings/modules/teacher/
web/src/main/resources/views/modules/student_manager/
web/src/main/resources/views/modules/teacher/